<div class="d-flex flex-column bg-white" style="width: 4.5rem; height: 100%">
  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
    <img src="assets/img/kfu.svg" alt="kfu" width="40" height="40">
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link active py-3 border-bottom" title="Расписание">
        <svg class="bi" width="24" height="24"><use xlink:href="bootstrap-icons.svg#table"/></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom" title="История">
        <svg class="bi" width="24" height="24"><use xlink:href="bootstrap-icons.svg#clock-history"/></svg>
      </a>
    </li>
  </ul>
  <div class="dropdown border-top">
    <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none">
      <img src="assets/img/kfu.svg" alt="kfu" width="24" height="24" class="rounded-circle">
    </a>
  </div>
</div>
